* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html, body {
    height: 100%; /* Ensure the body takes full height */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack children vertically */
}


.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #00ffff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 50px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: 200;
    line-height: 25px;
    font-size: 30px;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #00ffff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    width: 0;
    background: #00ffff;
    height: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: width 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}

/* Typewriter Effect Styles */
.typewriter {
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden; /* Ensures the text is hidden until typed */
    border-right: 3px solid #fff; /* Cursor effect */
    display: inline-block; /* Allows for inline animations */
    animation: blink 0.75s step-end infinite; /* Blinking cursor */
    color: #00ffff; /* Cyan color for text */
    /* Neon cyan glow effect */
}

@keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #fff; /* White cursor */
    }
}

/* Footer Styles */


/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 20px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.5); /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: #000000; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded edges for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #000000; /* Darker shade on hover */
}

/* For Firefox */
* {
    scrollbar-width: auto; /* Use 'thin' to make the scrollbar smaller */
    scrollbar-color: #00d9ff rgba(0, 0, 0, 0.967); /* Thumb and track colors */
}
